@use 'src/styles/variables' as *;


.container-flex {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;

    @media (min-width: 1024px) {
        flex-wrap: nowrap;
    }

    .container-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;

        .services-icon {
            width: 100px;
            height: 100px;
            background-color: $color-2;
            border-radius: 15px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            margin-bottom: 1rem;
            .services-img {
                width: 100%;
            };
        }
    }

}