@use 'src/styles/variables' as *;

.home {
    display: flex;
    flex-direction: column;
    
    background-color: $primary-color;

    overflow-y: auto;

    .section-1 {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;

        .left-container {
            width: 50%;
            display: flex;
            flex-direction: column;

            @media (max-width: 1199px) {
                width: 100%;
            }

            @media (min-width: 1199px) {
                justify-content: flex-start;
                align-items: center;
            }
        }

        .right-container {
            width: 50%;
            background-color: $secondary-color;

            @media (max-width: 1199px) {
                display: none;

            }
        }
    }
}