@use "src/styles/variables" as *;

.about {
    width: 100%;
    max-width: 800px;

    .container-center {
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 50px;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;

        @media (max-width: 899px) {
            margin-left: 50px;
            margin-right: 50px;
            margin-top: 50px;
        }

        @media (min-width: 1299px) {
            margin-left: 100px;
            margin-right: 100px;
            margin-top: 100px;
        }

        .title-1 {
            font-size: 60px;
            font-weight: 700;
            line-height: 1.1;

            @media (max-width: 599px) {
                font-size: 36px;
            }

            @media (min-width: 600px) and (max-width: 899px) {
                font-size: 48px;
            }

            @media (min-width: 900px) and (max-width: 1299px) {
                font-size: 54px;
            }
        }

        .text-1 {
            margin-top: 30px;
            line-height: 2.2;
        }

        .buttons-1 {
            width: 100%;
            margin-top: 30px;

            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            font-weight: 700;

            .btn-1,
            .btn-2 {
                border-radius: 100px;
                width: 250px;
                height: 65px;
                margin-bottom: 20px;

                &:hover {
                    transform: scale(1.05);
                    transition: transform 0.3s ease-in-out;
                }

                @media (max-width: 599px) {
                    font-weight: 500;
                    font-size: 14px;
                    width: 100px;
                    height: 45px;
                }
    
                @media (min-width: 600px) and (max-width: 899px) {
                    width: 180px;
                    height: 55px;
                }
            }

            .btn-1 {
                background: #81b5a1;
                margin-right: 50px;
                color: white;
                @media (max-width: 899px) {
                    margin-right: 30px;
                }
            }

            .btn-2 {
                background: $primary-color;
                border: 3px solid $secondary-color;
            }
        }
    }
}