.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    
    padding: 20px 100px;

    .logo-container {
        .logo {
            width: 180px;
        }
    }

    .nav-links {
       display: flex;
       flex-direction: row;
       flex-wrap: nowrap;
       font-weight: bold;
       font-size: 20px;

       .nav-link {
        padding: 10px 30px;
        user-select: none;
       }
    }

}





