@use 'src/styles/variables' as *;

.logo-container {
    width: 100%;

    padding: 30px 0;
    margin-left: 50px;
    .logo {
        width: 180px;
    }

    @media (max-width: 899px) {
        padding: 30px 0;
        margin-left: 50px;
        .logo {
            width: 120px;
        }
    }

    @media (min-width: 1299px) {
        margin-left: 100px;
        padding: 30px 0;
    }

}




