@use 'src/styles/variables' as *;


.container-nav {
    width: 100%;
    max-width: 1024px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to bottom, white 80%, transparent);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 1rem;

    .container-logo {
        .logo {
            width: 8rem;
            padding-left: 0.5rem;

            @media (min-width: 1025px) {
                width: 10rem;
            }
        }
    }

    .container-links {
        margin-right: 0.5rem;
        .menu-ham {
            padding-right: 0.5rem;
            cursor: pointer;
            .line-ham {
                width: 20px;
                height: 2px;
                background-color: $color-3;
                margin: 5px 0;
            }

            @media (min-width: 1025px) {
                display: none;
            }
        }

        .links {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;

            font-weight: 600 ;
            @media (max-width: 1024px) {
                display: none;
            }
        }
    }
}