@use 'src/styles/variables' as *;

.footer {
    width: 100%;

    max-width: 1024px;

    .footer-container {
        text-align: center;
        margin: 0 1rem;
        padding: 0 1rem;
        border-radius: 5px;
        
        background-color: $color-2;

        .footer-contact {
            
        }
    }
}