@use 'src/styles/variables' as *;

.footer {
    width: 100%;

    max-width: 1024px;

    .footer-container {
        text-align: center;
        margin: 0 1rem;
        padding: 0 1rem;
        border-radius: 5px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        background-color: $color-2;

        .footer-contact {

        }
    }
}